.container{

// width: 25%;
// height: 25%;

&_title{
    background: #3D8ACD;
    border-radius: inherit;
    height: 33px;
    color:white;
    position: fixed;
    width: 287px;
}
span{
    margin: 20px 10px;
}
}
